extends layout

block content
  form(method='GET', action='/users/all/search').form-inline.my-2.my-md-0
    input.form-control(name='user' type='text', placeholder='Search')
  h1 #{title}
  ul.list-group
    if users.length
      each user, i in users
        li.list-group-item
          a(href='/users/'+user._id)= user.name 
    else 
      li.list-group-item No user found!
